@model WebApp.Models.PrescriptionVM
@{
    ViewData["Title"] = "Prescription Details";
}

<h1>Prescription Details</h1>

<div>
    <h4>
        Prescription
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            PatientID
        </dt>
        <dd class="col-sm-10">
            @Model.PatientId
        </dd>
        <dt class="col-sm-2">
            Medicine
        </dt>
        <dd class="col-sm-10">
            @Model.MedicineName
        </dd>
        <dt class="col-sm-2">
            Dosage
        </dt>
        <dd class="col-sm-10">
            @Model.Dosage
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
